/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, button, input, textarea, th, td { margin: 0; padding: 0;}
body, button, input, select, textarea { font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
h1 { font-size: 18px;}
h2 { font-size: 16px;}
h3 { font-size: 14px;}
h4, h5, h6 { font-size: 100%;}

address, cite, dfn, em, var { font-style: normal; }
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; }
small { font-size: 12px; }

/* 重置列表元素 */
ul, ol, li { list-style: none; }
a { text-decoration: none; }
a:hover { text-decoration: underline;}
abbr[title], acronym[title] { border-bottom: 1px dotted; cursor: help; }
q:before, q:after { content: '';}
legend { color: #000;}
fieldset, img { border: none;}
button, input, select, textarea { font-size: 100%; }
table { border-collapse: collapse; border-spacing: 0;}

.clearfix:after,.clearfix:before{ content: ""; display: inline-table; clear: both; }
.left{float: left;}
.right{float: right;}

.hide { display: none;}

html, body { overflow: hidden;}
.body { position: absolute; color: #fff; font-family: "微软雅黑";}

/* 幻灯片 */
.wrapul { position: absolute; width: 100%; height: 100%;}
.wrapul li { position: absolute; width: 100%; height: 100%;}
.wrapul li img { width: 100%; height: 100%;}
.anli1 { z-index: 300; }
.anli1 { z-index: 200; }
.anli1 { z-index: 100; }

/* 中间内容 */
.wrapdiv { position: absolute; top: 50%; left: 50%; width: 576px; height: 846px;  margin: -423px 0 0 -288px; border: 15px solid #fff; z-index: 500; overflow: hidden;}
.wrapdiv2 { border: 2px solid #fff; margin: 10px; padding: 16px 34px 0 34px;}
.p1{ font-size: 18px; height: 38px;}
.p1 span{ height: 38px; line-height: 38px; margin-left: 10px;}
.p2{  height: 72px; line-height: 72px; margin-top: 15px; text-align: center; font-size: 75px; font-weight: bold;}
.p3{ border-top:3px solid #fff; border-bottom: 3px solid #fff; height: 0; margin-top: 12px;}
.p4{ margin-top: 12px; font-size: 26.11px;}
.p5{ margin-top: 45px; font-size: 23.51px; text-align: right;}
.p6{ margin-top: 45px; font-size: 16.93px; text-align: right;}
.p7{ margin-top: 38px;}
.p7, .p8{ font-size: 16.93px; text-align: right;}
.p8{ margin-top: 5px;}
.p9{ margin-top: 32px; font-size: 24.93px; text-align: right;}
.p10{ margin-top: 30px; font-size: 20.21px; text-align: right;}
.p11{ margin-top: 32px; font-size: 28.21px; text-align: right;}
.p12{ margin-top: 8px; font-size: 28.21px; text-align: right;}
.pimg{ margin-bottom: 15px;}

/* 响应 */
@media only screen and (max-height: 850px){
    .wrapdiv { width: 382px; height: 560px; margin: -280px 0 0 -191px; border: 10px solid #fff;}
    .wrapdiv2 { height: 500px; margin: 10px; padding: 8px 17px 28px 17px;}
    .p1{ font-size: 18px; height: 38px;}
    .p1 span{ height: 38px; line-height: 38px; margin-left: 10px;}
    .p2{ height: 48px; line-height: 48px;  margin-top: 10px; font-size: 50px; font-weight: bold; text-align: center;}
    .p3{ height: 0; margin-top: 10px; border-top:2px solid #fff; border-bottom: 2px solid #fff;}
    .p4{ margin-top: 12px; font-size: 17px;}
    .p5{ margin-top: 35px; font-size: 16px;}
    .p6, .p7, .p9 { margin-top: 20px; font-size: 14px;}
    .p11, .p12 { font-size: 20px; font-weight: 400;}
    .pimg{ position: absolute; left: 22px; bottom: 6px;}
    .p12{ margin-bottom: 5px;}
}


